Repository RimSort/RimSort, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📚, DevOps 💻, macOS 🍏, Linux🐧, Windows 🪟

fix build needs
  .github/workflows/build.yml
Labels: DevOps 💻

fix linter complaint
  .github/workflows/test_builds.yml
Labels: DevOps 💻

actually fix linter
  .github/workflows/test_builds.yml
Labels: DevOps 💻

move semver stuff into get_version_info as pre-build step to minimize chance of race condition
  .github/workflows/get_version_format.yml
  .github/workflows/get_version_info.yml
  .github/workflows/release.yml
Labels: DevOps 💻

fix auto build, add format only option to get version info
  .github/workflows/auto_build.yml
  .github/workflows/get_version_info.yml
Labels: DevOps 💻

Documentation improvements
  docs/wiki/Development Guide.md
Labels: documentation 📚

fix for auto build usage of get version info
  .github/workflows/auto_build.yml
  .github/workflows/get_version_info.yml
Labels: DevOps 💻

attempt at fixing input type
  .github/workflows/get_version_info.yml
Labels: DevOps 💻

move sha appending from release to get version info
  .github/workflows/get_version_info.yml
  .github/workflows/release.yml
Labels: DevOps 💻

add sha default for get version string
  .github/workflows/get_version_info.yml
Labels: DevOps 💻

document versioning and release info
  docs/wiki/Development Guide.md
Labels: documentation 📚

Add docs on potential race condition issues for build-release pipeline
  docs/wiki/Development Guide.md
Labels: documentation 📚

(Minor) Rule editor fixes (#343)
  app/models/dialogue.py
  app/utils/rentry/wrapper.py
  app/utils/steam/webapi/wrapper.py
  app/views/main_content_panel.py
  app/views/mods_panel.py
  app/windows/rule_editor_panel.py
  themes/RimPy/style.qss
Labels: none

Commit mismatch check (#6)
  .github/workflows/release.yml
Labels: DevOps 💻

Improved documentation on commit mismatch checking
  docs/wiki/Development Guide.md
Labels: documentation 📚

add details about semver monitored directories
  docs/wiki/Development Guide.md
Labels: documentation 📚

specify file extension tar when parsing artifact name
  .github/workflows/release.yml
Labels: DevOps 💻

.github/labeler.yml:

documentation 📚:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "*.md"]

DevOps 💻:
  - changed-files:
      - any-glob-to-any-file:
          [
            ".github/**",
            "distribute.py",
            "requirements*.txt",
            "rimsort.nuitka-package.config.yml",
          ]

macOS 🍏:
  - changed-files:
      - any-glob-to-any-file: ["**/*.dylib"]

Linux🐧:
  - changed-files:
      - any-glob-to-any-file: ["**/*.so"]

Windows 🪟:
  - changed-files:
      - any-glob-to-any-file: ["**/*.dll"]
