Repository RimSort/RimSort, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation 📚, DevOps 💻, macOS 🍏, Linux🐧, Windows 🪟

.github/labeler.yml:

documentation 📚:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "*.md"]

DevOps 💻:
  - changed-files:
      - any-glob-to-any-file:
          [
            ".github/**",
            "distribute.py",
            "requirements*.txt",
            "rimsort.nuitka-package.config.yml",
          ]

macOS 🍏:
  - changed-files:
      - any-glob-to-any-file: ["**/*.dylib"]

Linux🐧:
  - changed-files:
      - any-glob-to-any-file: ["**/*.so"]

Windows 🪟:
  - changed-files:
      - any-glob-to-any-file: ["**/*.dll"]

Fix crash due to typo
  app/controllers/settings_controller.py
Labels: none

More fixes and optimizations
  app/controllers/app_controller.py
  app/views/main_content_panel.py
  app/views/main_window.py
Labels: none

Bugfixes for instance creation / SteamCMD
  app/controllers/settings_controller.py
  app/utils/steam/steamcmd/wrapper.py
  app/views/main_content_panel.py
  app/views/main_window.py
Labels: none

Functional backup + restore for instances
  app/controllers/menu_bar_controller.py
  app/utils/event_bus.py
  app/views/main_window.py
  app/views/menu_bar.py
  themes/default-icons/DEBUG
Labels: none

Stop watchdog if running when switching instance. Get steamcmd files when cloning.
  app/views/main_window.py
Labels: none

Add rimworld.gif to default-icons
  themes/default-icons/rimworld.gif
Labels: none

Improve clone dialog, add loading animations when files are copying
  app/models/dialogue.py
  app/views/main_content_panel.py
  app/views/main_window.py
Labels: none

Switch to instance after restore
  app/views/main_window.py
Labels: none

Reduce log level during instance compression operations
  app/views/main_window.py
Labels: none

Additional improvements to backup, clone, restore instance operations
  app/controllers/menu_bar_controller.py
  app/views/main_window.py
Labels: none

Various fixes and improvements
  app/utils/steam/steamcmd/wrapper.py
  app/views/main_window.py
Labels: none

Fixpack for parsing mods list - Fixes #255, Fix #299, Fixes 306
  app/utils/constants.py
  app/utils/metadata.py
  app/utils/schema.py
  app/utils/xml.py
Labels: none

Make run args comma delimeted again
  app/controllers/settings_controller.py
  app/views/settings_dialog.py
Labels: none

Remove extra quote
  app/windows/runner_panel.py
Labels: none

Redo SteamCMD relinking again
  app/controllers/settings_controller.py
  app/utils/steam/steamcmd/wrapper.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
Labels: none

Polishing for instances
  app/views/main_window.py
Labels: none

Add .vscode/launch.json
  .vscode/launch.json
Labels: none

Game launch is based on Steam client integration. Generate list data using new schema.
  app/views/main_content_panel.py
Labels: none

Remove instance name check for game launch (Steam integration)
  app/views/main_content_panel.py
Labels: none

Use MacOS 13 runner for Mac
  .github/workflows/alpha-release.yml
  .github/workflows/edge-release.yml
Labels: DevOps 💻

Adjust supplement settings dialog text for run args
  app/views/settings_dialog.py
Labels: none

Add support for RimWorld .rml mod list format
  app/utils/schema.py
  app/views/main_content_panel.py
Labels: none

fix Unresolved reference 'current_timestamp'
  app/models/settings.py
Labels: none

Cleanup runnables from QThreadPool
  app/utils/metadata.py
Labels: none

Remove python.languageServer preference from .vscode/settings.json
  .vscode/settings.json
Labels: none

Fix issues with Steam integration preference on initial mitigation to 'Default'
  app/models/settings.py
  app/views/mods_panel.py
Labels: none

Fix issues building for Intel macOS - fixes #323
  .github/workflows/alpha-release.yml
  .github/workflows/edge-release.yml
Labels: DevOps 💻

fix #349
  app/utils/steam/browser.py
Labels: none

add proper refrences
  app/models/animations.py
  app/models/scroll_label.py
  app/utils/proxy_style.py
  app/utils/steam/browser.py
  app/views/mods_panel.py
  app/windows/missing_mods_panel.py
  app/windows/workshop_mod_updater_panel.py
Labels: none

detect windows properly
  app/utils/generic.py
Labels: none

fix object has no attribute "key" related errors
  app/windows/missing_mods_panel.py
  app/windows/workshop_mod_updater_panel.py
Labels: none

fix missing imports in watchdog
  app/utils/watchdog.py
Labels: none

Fix input dialogue
  app/windows/rule_editor_panel.py
Labels: none

Style and linting fixes
  app/windows/rule_editor_panel.py
Labels: none

Nuikta project options and documentation (#1)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  .vscode/settings.json
  app/__main__.py
  distribute.py
  docs/wiki/Development Guide.md
  requirements.txt
Labels: documentation 📚, DevOps 💻

Invert omit name and body options
  .github/workflows/release.yml
Labels: DevOps 💻

Create dependabot.yml
  .github/dependabot.yml
Labels: DevOps 💻

move local submodule out of requirements.txt to stop dependabot from dying
  distribute.py
  requirements.txt
Labels: DevOps 💻

auto-build action on pr or push to main
  .github/workflows/auto_build.yml
  .github/workflows/get_version.yml
  .github/workflows/release.yml
Labels: DevOps 💻

quick fix for auto build
  .github/workflows/auto_build.yml
Labels: DevOps 💻
