Repository RimSort/RimSort, pull requests merged in 2023-10, with the labels that each got.

#187 Fix open_url_browser function which malfunctions on macOS under Python 3.9
  util/generic.py
Labels: bugs 🪲

#186 Wiki previews
  docs/wiki/User Guide.md
Labels: documentation 📚, feature/improvement 🆕, macOS 🍏, Windows 🪟

#195 Added quotes to download_mods() in steamcmd/wrapper.py
  util/steam/steamcmd/wrapper.py
Labels: bugs 🪲, macOS 🍏, Windows 🪟
