Repository RimSort/RimSort, pull requests merged in 2024-11, with the labels that each got.

#669 Fix crash when __setattr__ for instances, where the key does not exist.
  app/models/instance.py
  app/models/settings.py
Labels: bugs 🪲

#680 Add modlist folder to RimSort
  app/utils/app_info.py
  app/views/main_content_panel.py
Labels: feature/improvement 🆕

#681 Add Python shebang to main.py
  app/__main__.py
Labels: feature/improvement 🆕, Code refactoring 🧹

#674 Fix save button blinking
  app/views/main_content_panel.py
Labels: bugs 🪲

#685 [678] Implement warning when Rentry response code is not 200. Fix Rentry import action duplication.
  app/utils/rentry/wrapper.py
  app/views/main_content_panel.py
Labels: bugs 🪲, feature/improvement 🆕, accessibility 👀 ℹ️🤓

#690 [608] Update Wiki Links
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .gitmodules
  README.md
  app/controllers/menu_bar_controller.py
Labels: documentation 📚, DevOps 💻

#694 Fix Nuikta Build Options - Only use mode and remove deprecated options
  .github/workflows/build.yml
  app/__main__.py
Labels: bugs 🪲, DevOps 💻
