Repository RimSort/RimSort, pull requests merged in 2024-09, with the labels that each got.

#590 [586] Replace issue templates with forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .jscpd.json
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓, DevOps 💻

#599 Fix minor linting errors
  app/utils/watchdog.py
  app/utils/win_find_steam.py
Labels: Code style ✨

#593 Release Notes Configuration
  .github/release.yml
Labels: documentation 📚, DevOps 💻

#601 Fix dependabot exclusion for misc changes in release notes
  .github/release.yml
Labels: DevOps 💻

#598 Improves relative path handling for todds and game launch
  app/utils/generic.py
  app/utils/todds/wrapper.py
  app/views/main_content_panel.py
Labels: feature/improvement 🆕

#596 [575] Re-create symlink option when reinstalling SteamCMD
  app/utils/steam/steamcmd/wrapper.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#592 [502] [459] Improvements to mod warning/error display and toggle
  app/controllers/menu_bar_controller.py
  app/controllers/mods_panel_controller.py
  app/views/main_window.py
  app/views/menu_bar.py
  app/views/mods_panel.py
Labels: bugs 🪲, feature/improvement 🆕

#540 [536] Refactored and improved database path validation on metadata refresh
  app/utils/metadata.py
Labels: Code refactoring 🧹, accessibility 👀 ℹ️🤓

#620 [619] Fix git url parsing, add improved git action dialogue contents, fix metadata deletion race condition crash
  app/utils/generic.py
  app/utils/metadata.py
  app/views/main_content_panel.py
  app/views/mods_panel.py
  tests/utils/test_generic.py
Labels: bugs 🪲

#610 Remove pytz and types-Deprecated, replace outdated type libs with new typeshed libs
  app/sort/topo_sort.py
  app/utils/app_info.py
  app/utils/rentry/wrapper.py
  app/views/main_content_panel.py
  app/views/main_window.py
  requirements.txt
  requirements_develop.txt
Labels: Code refactoring 🧹, Code style ✨, dependencies

#605 Symlink creation improvements and refactor
  app/utils/steam/steamcmd/wrapper.py
  app/utils/symlink.py
  app/views/main_window.py
Labels: bugs 🪲, Code refactoring 🧹, accessibility 👀 ℹ️🤓

#609 Improvements to GitHub Issues
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .vscode/settings.json
Labels: documentation 📚, accessibility 👀 ℹ️🤓, DevOps 💻
