Repository RimSort/RimSort, pull requests merged in 2024-12, with the labels that each got.

#714 Remove warnings when exiting rentry/workshop import dialogue
  app/utils/rentry/wrapper.py
  app/utils/steam/webapi/wrapper.py
  app/views/main_content_panel.py
Labels: bugs 🪲

#721 Add option to selectively download mods from collections
  app/utils/steam/browser.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#691 rentry: avoid crashes
  app/utils/rentry/wrapper.py
Labels: bugs 🪲, feature/improvement 🆕, Code refactoring 🧹, Code style ✨, accessibility 👀 ℹ️🤓
