Repository RimSort/RimSort, pull requests merged in 2024-07, with the labels that each got.

#476 [475] adding log hints for circular dependency
  app/sort/dependencies.py
  app/sort/topo_sort.py
  app/utils/metadata.py
  app/utils/obfuscate_message.py
  app/utils/steam/steamcmd/wrapper.py
  app/views/main_content_panel.py
  distribute.py
  libs/SteamworksPy.dylib
  requirements.txt
  tests/utils/test_obfuscate_message.py
Labels: macOS 🍏, DevOps 💻, dependencies

#437 Catch non-empty directory error when deleting mod
  app/views/mods_panel.py
Labels: bugs 🪲, accessibility 👀 ℹ️🤓

#426 Refactored settings model
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/constants.py
Labels: Code refactoring 🧹, DevOps 💻, dependencies

#484 Main content panel typing fixes
  app/views/main_content_panel.py
Labels: documentation 📚, Code refactoring 🧹, Code style ✨, dependencies

#490 Refactor AnimationLabel and LoadingAnimation classes
  app/models/animations.py
Labels: bugs 🪲, Code refactoring 🧹, Code style ✨

#480 Move Workshop database expiry to Database Tab
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/metadata.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕, Code style ✨, accessibility 👀 ℹ️🤓

#497 Typing fixes and Cleanup
  app/controllers/main_window_controller.py
  app/models/animations.py
  app/models/dialogue.py
  app/models/multibutton.py
  app/utils/event_bus.py
  app/utils/generic.py
  app/utils/rentry/wrapper.py
  app/utils/steam/browser.py
  app/utils/steam/steamworks/wrapper.py
  app/utils/steam/webapi/wrapper.py
  app/utils/todds/wrapper.py
  app/utils/watchdog.py
  app/utils/xml.py
  app/views/main_content_panel.py
  app/views/mod_info_panel.py
  app/views/mods_panel.py
  app/windows/rule_editor_panel.py
  app/windows/workshop_mod_updater_panel.py
  distribute.py
  requirements_develop.txt
Labels: Code refactoring 🧹, Code style ✨, DevOps 💻, dependencies

#516 Set the default sorting algorithm to be Topological
  app/models/settings.py
Labels: feature/improvement 🆕

#526 Temporarily force windows console as workaround Nuitka bug 3019
  app/__main__.py
  distribute.py
Labels: bugs 🪲, Windows 🪟, DevOps 💻

#520 [500] Dialogue improvements
  app/__main__.py
  app/controllers/instance_controller.py
  app/controllers/settings_controller.py
  app/models/dialogue.py
  app/sort/topo_sort.py
  app/utils/generic.py
  app/utils/metadata.py
  app/utils/rentry/wrapper.py
  app/utils/schema.py
  app/utils/steam/browser.py
  app/utils/steam/steamcmd/wrapper.py
  app/utils/steam/webapi/wrapper.py
  app/views/dialogue.py
  app/views/main_content_panel.py
  app/views/main_window.py
  app/views/mods_panel.py
  app/windows/rule_editor_panel.py
  app/windows/runner_panel.py
  themes/RimPy/style.qss
Labels: feature/improvement 🆕, Code refactoring 🧹, accessibility 👀 ℹ️🤓

#525 Set application window icon for Windows
  app/__main__.py
  app/controllers/app_controller.py
  app/utils/gui_info.py
  themes/default-icons/AppIcon.ico
  themes/default-icons/AppIcon_alt.ico
  themes/default-icons/RimSort_Icon_64x64.svg
  themes/default-icons/RimSort_Icon_64x64_alt.svg
Labels: feature/improvement 🆕, Windows 🪟, accessibility 👀 ℹ️🤓, DevOps 💻

#529 Remove console param from build action
  .github/workflows/build.yml
Labels: bugs 🪲, DevOps 💻

#528 Fix template labels
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: accessibility 👀 ℹ️🤓, DevOps 💻

#530 linting-fixes
  .github/workflows/lint.yml
  app/controllers/instance_controller.py
  app/controllers/menu_bar_controller.py
  app/controllers/settings_controller.py
  app/sort/dependencies.py
  app/sort/topo_sort.py
  app/utils/app_info.py
  app/utils/constants.py
  app/utils/generic.py
  app/utils/metadata.py
  app/utils/proxy_style.py
  app/utils/schema.py
  app/utils/steam/browser.py
  app/utils/steam/steamcmd/wrapper.py
  app/utils/steam/steamworks/wrapper.py
  app/utils/steam/webapi/wrapper.py
  app/views/main_content_panel.py
  app/views/main_window.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
  app/windows/missing_mods_panel.py
  app/windows/rule_editor_panel.py
  app/windows/runner_panel.py
  pyproject.toml
Labels: bugs 🪲, Code refactoring 🧹, Code style ✨, DevOps 💻

#533 Hotfix missing steam api key input
  app/views/settings_dialog.py
Labels: bugs 🪲

#499 Minor Setting Changes
  app/controllers/settings_controller.py
  app/views/settings_dialog.py
Labels: Code refactoring 🧹, Code style ✨, accessibility 👀 ℹ️🤓
