Repository RimSort/RimSort, pull requests merged in 2024-08, with the labels that each got.

#567 [306] Fix expansion disabling
  app/utils/schema.py
Labels: bugs 🪲

#551 Fix git update crash
  app/views/main_content_panel.py
Labels: bugs 🪲

#574 database_expiry_label Spelling fix
  app/views/settings_dialog.py
Labels: bugs 🪲

#573 Add graceful error handling for sorting algorithm not implemented
  app/views/main_content_panel.py
Labels: feature/improvement 🆕

#537 [538] Refactor path autodetect, add win reg based steam path finding
  app/controllers/settings_controller.py
  app/utils/win_find_steam.py
Labels: feature/improvement 🆕, Code refactoring 🧹

#541 Remove strict ruff version
  requirements_develop.txt
Labels: dependencies

#577 Fix steamDB creation crash when expiry or life is 0
  app/utils/steam/webapi/wrapper.py
Labels: bugs 🪲

#581 [562] Fixed clearing list in mod downloader
  app/utils/steam/browser.py
Labels: bugs 🪲

#554 Db builder warning and partial dialogue refactor
  .github/workflows/pytest.yml
  app/controllers/settings_controller.py
  app/views/dialogue.py
  requirements_develop.txt
  tests/views/test_dialogue.py
Labels: Code refactoring 🧹, accessibility 👀 ℹ️🤓, DevOps 💻, dependencies
