Repository RimSort/RimSort, pull requests merged in 2024-10, with the labels that each got.

#571 [141] Mod Description Refactor and Unity Rich Text Rendering
  app/controllers/settings_controller.py
  app/models/scroll_label.py
  app/models/settings.py
  app/views/description_widget.py
  app/views/main_content_panel.py
  app/views/mod_info_panel.py
  app/views/settings_dialog.py
  themes/RimPy/style.qss
Labels: feature/improvement 🆕, Code refactoring 🧹

#631 Update rimsort_preview.png
  docs/rimsort_preview.png
Labels: documentation 📚

#576 [451] Add steamCMD cache clear options
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/event_bus.py
  app/utils/generic.py
  app/utils/steam/steamcmd/wrapper.py
  app/views/dialogue.py
  app/views/main_content_panel.py
  app/views/settings_dialog.py
  requirements_develop.txt
Labels: bugs 🪲, feature/improvement 🆕, DevOps 💻, dependencies

#612 [603] Implement instance specific ability to ignore future steamcmd setup dialogs on startup
  app/controllers/settings_controller.py
  app/models/instance.py
  app/utils/steam/steamcmd/wrapper.py
  app/views/main_window.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#640 Minor metadata parsing bugfixes
  app/utils/metadata.py
  app/views/mod_info_panel.py
Labels: bugs 🪲

#623 [380][451][635] Cleanup of SteamCMD mod manifest + acf metadata on deletion
  app/__main__.py
  app/controllers/settings_controller.py
  app/models/instance.py
  app/models/settings.py
  app/sort/alphabetical_sort.py
  app/sort/topo_sort.py
  app/utils/app_info.py
  app/utils/gui_info.py
  app/utils/metadata.py
  app/utils/steam/browser.py
  app/utils/steam/steamcmd/wrapper.py
  app/utils/steam/webapi/wrapper.py
  app/utils/symlink.py
  app/utils/system_info.py
  app/utils/watchdog.py
  app/views/dialogue.py
  app/views/main_content_panel.py
  app/views/main_window.py
  app/views/menu_bar.py
  app/views/mod_info_panel.py
  app/views/mods_panel.py
  app/windows/rule_editor_panel.py
Labels: bugs 🪲, feature/improvement 🆕

#644 Minor fixes
  app/controllers/mods_panel_controller.py
  app/models/animations.py
  app/sort/topo_sort.py
  app/utils/metadata.py
  app/utils/steam/browser.py
  app/views/main_content_panel.py
  app/views/mods_panel.py
  app/windows/missing_mods_panel.py
Labels: Code style ✨

#660 Add completion notification to runner panel
  app/windows/runner_panel.py
Labels: accessibility 👀 ℹ️🤓

#664 Report RimSort version at init of application in logs
  app/__main__.py
Labels: accessibility 👀 ℹ️🤓

#667 Ask to enable steam integration at setup
  app/models/instance.py
  app/views/main_window.py
Labels: Code refactoring 🧹, accessibility 👀 ℹ️🤓

#668 Add RimThunder: Core as a replacement dependency for Engine Industries by AOBA
  app/utils/constants.py
Labels: feature/improvement 🆕
