Repository RimSort/RimSort, pull requests merged in 2025-06, with the labels that each got.

#898 Rentry improvements: Now works without Rentry Auth Code and can download mods using publishfieldid as well
  app/utils/rentry/wrapper.py
  app/views/main_content_panel.py
Labels: feature/improvement 🆕

#902 Fix "Use This Instead" database local selection to choose folder instead of file
  app/controllers/settings_controller.py
  app/models/settings.py
Labels: feature/improvement 🆕

#906 Use folder path instead of file path for settings
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/metadata.py
Labels: Code style ✨

#910 Refactor RunnerPanel for improved initialization and process management
  app/windows/runner_panel.py
Labels: Code refactoring 🧹

#915 Add certifi dependency to requirements
  requirements.txt
Labels: DevOps 💻, dependencies

#917 Refactor variable initialization in functions
  distribute.py
Labels: Code style ✨, DevOps 💻

#911 Set default formatter for Python files in VSCode settings
  .vscode/settings.json
Labels: Code style ✨

#943 Add option to update databases on startup
  app/controllers/main_content_controller.py
  app/controllers/settings_controller.py
  app/models/settings.py
  app/views/main_window.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕

#949 Add Pylance to development requirements
  requirements_develop.txt
Labels: dependencies

#952 Add network and timeout handling to Git operations
  app/utils/git_utils.py
  app/utils/git_worker.py
Labels: Code refactoring 🧹, accessibility 👀 ℹ️🤓
