Repository RimSort/RimSort, pull requests merged in 2025-03, with the labels that each got.

#800 fix missing mods panel unable to download mod
  app/windows/missing_mods_panel.py
Labels: bugs 🪲

#730 Dependency Manager
  app/controllers/main_window_controller.py
  app/controllers/mods_panel_controller.py
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/metadata.py
  app/views/main_content_panel.py
  app/views/main_window.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
  app/windows/missing_dependencies_dialog.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓, dependencies, Sorting

#403 (minor) Metadata rework backend
  .github/workflows/lint.yml
  .github/workflows/pytest.yml
  .vscode/settings.json
  app/controllers/app_controller.py
  app/controllers/metadata_controller.py
  app/controllers/metadata_db_controller.py
  app/models/metadata/metadata_db.py
  app/models/metadata/metadata_factory.py
  app/models/metadata/metadata_mediator.py
  app/models/metadata/metadata_structure.py
  app/utils/app_info.py
  app/utils/generic.py
  app/utils/xml.py
  distribute.py
  requirements.txt
  requirements_develop.txt
  tests/controllers/test_metadata_controller.py
  tests/controllers/test_metadata_db_controller.py
  tests/data/.gitignore
  tests/data/appworkshop_294100.acf
  tests/data/dbs/steamDB.json
  tests/data/dbs/userRules.json
  tests/data/instance/instance_1/steam/steamapps/workshop/appworkshop_294100.acf
  tests/data/mod_examples/Local/Fishery/About/About.xml
  tests/data/mod_examples/Local/invalid folder/junk file
  tests/data/mod_examples/Local/invalid_scenario_mod_meta/scenario abc.rsc
  tests/data/mod_examples/Local/invalid_scenario_mod_scenario/scenario abc.rsc
  tests/data/mod_examples/Local/local_mod_1/About/About.xml
  tests/data/mod_examples/Local/local_mod_1/About/Assemblies/something.dll
  tests/data/mod_examples/Local/local_mod_2/1.2/Assemblies/something.dll
  tests/data/mod_examples/Local/local_mod_2/About/About.xml
  tests/data/mod_examples/Local/scenario_mod_1/scenario abc.rsc
  tests/data/mod_examples/Local/steamcmd_mod_1/1.4/extra/Assemblies/something.dll
  tests/data/mod_examples/Local/steamcmd_mod_1/About/About.xml
  tests/data/mod_examples/Local/steamcmd_mod_1/About/PublishedFileId.txt
  tests/data/mod_examples/RimWorld/Data/Biotech/About/About.xml
  tests/data/mod_examples/RimWorld/Data/Core/About/About.xml
  tests/data/mod_examples/RimWorld/Data/Core/About/Preview.png
  tests/data/mod_examples/RimWorld/Data/FutureDLC/About/About.xml
  tests/data/mod_examples/RimWorld/Data/Royalty/About/About.xml
  tests/data/mod_examples/RimWorld/Version.txt
  tests/data/mod_examples/Steam/steam_mod_1/About/About.xml
  tests/data/mod_examples/Steam/steam_mod_1/About/PublishedFileId.txt
  tests/data/modconfigs/invalid_1/ModConfig.xml
  tests/data/modconfigs/invalid_2/ModConfig.xml
  tests/data/modconfigs/invalid_3/junk_ModConfig.xml
  tests/data/modconfigs/valid_1/ModConfig.xml
  tests/models/metadata/test_metadata_factory.py
  tests/models/metadata/test_metadata_mediator.py
  tests/models/metadata/test_metadata_structure.py
Labels: bugs 🪲, documentation 📚, Windows 🪟, work in progress, Code refactoring 🧹, DevOps 💻, dependencies

#780 Add i18n support and Chinese translation for documentation
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/nav_footer_custom.html
  docs/development-guide/contributor-guidelines.md
  docs/development-guide/contributor-guidelines.zh-cn.md
  docs/development-guide/development-setup.md
  docs/development-guide/development-setup.zh-cn.md
  docs/development-guide/documentation-guidelines.md
  docs/development-guide/documentation-guidelines.zh-cn.md
  docs/development-guide/index.md
  docs/development-guide/index.zh-cn..md
  docs/faq.md
  docs/faq.zh-cn.md
  docs/index.md
  docs/index.zh-cn.md
  docs/user-guide/basic-usage.md
  docs/user-guide/basic-usage.zh-cn.md
  docs/user-guide/databases.md
  docs/user-guide/databases.zh-cn.md
  docs/user-guide/db-builder.md
  docs/user-guide/db-builder.zh-cn.md
  docs/user-guide/downloading-and-installing.md
  docs/user-guide/downloading-and-installing.zh-cn.md
  docs/user-guide/index.zh-cn.md
  docs/user-guide/rule-editor.md
  docs/user-guide/rule-editor.zh-cn.md
  docs/user-guide/sorting-algorithms.md
  docs/user-guide/sorting-algorithms.zh-cn.md
  docs/user-guide/steamcmd-browser.md
  docs/user-guide/steamcmd-browser.zh-cn.md
Labels: documentation 📚, feature/improvement 🆕, accessibility 👀 ℹ️🤓
