Repository RimSort/RimSort, pull requests merged in 2025-01, with the labels that each got.

#682 Fix searching in active and inactive modlists
  app/views/mods_panel.py
Labels: bugs 🪲

#653 [145] Implement "mod type filter"
  app/views/mods_panel.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#733 Avoid some redundant error/warning recalculations
  app/views/main_content_panel.py
  app/views/mods_panel.py
Labels: Code refactoring 🧹

#731 Minor fixes for mod_type filter
  app/views/mods_panel.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#728 Add setting to hide invalid mods when filtering
  app/controllers/settings_controller.py
  app/models/settings.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
Labels: accessibility 👀 ℹ️🤓

#648 [513] Additional Shortcuts and Improved Organization
  app/controllers/menu_bar_controller.py
  app/utils/event_bus.py
  app/views/main_content_panel.py
  app/views/menu_bar.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#741 Make sure 'hide invalid mods when filtering' checkbox is checked/unchecked
  app/controllers/settings_controller.py
Labels: bugs 🪲

#748 Update docs regarding macos gatekeeper
  docs/Gemfile.lock
  docs/development-guide/development-setup.md
  docs/user-guide/downloading-and-installing.md
Labels: documentation 📚
