Repository RimSort/RimSort, pull requests merged in 2025-02, with the labels that each got.

#753 Fix git dubious owner error
  app/views/main_content_panel.py
Labels: bugs 🪲

#655 [328] Fix issue adding unlisted workshop mod to dl queue
  app/utils/generic.py
  app/utils/steam/browser.py
  tests/utils/steam/test_steam_browser_regex.py
Labels: bugs 🪲

#770 Fix todds doesn't optimize Steam mods
  app/views/main_content_panel.py
Labels: bugs 🪲

#369 (minor) Enable Theme Support
  app/controllers/app_controller.py
  app/controllers/settings_controller.py
  app/controllers/theme_controller.py
  app/models/settings.py
  app/utils/app_info.py
  app/views/settings_dialog.py
  themes/Modern/style.qss
  themes/Nature/style.qss
  themes/SunSet/style.qss
  themes/Wood/style.qss
Labels: documentation 📚, feature/improvement 🆕

#771 Update mod counts when using any filters
  app/controllers/mods_panel_controller.py
  app/views/mods_panel.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#779 rule_editor : minor bug fix update
  app/windows/rule_editor_panel.py
Labels: bugs 🪲

#778 Automatically set local folder from game folder and Disable Mods path selection
  app/controllers/settings_controller.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓
