Repository RimSort/RimSort, pull requests merged in 2025-08, with the labels that each got.

#1105 Add RimSort GitHub link to Help menu bar
  app/controllers/menu_bar_controller.py
  app/views/menu_bar.py
Labels: accessibility 👀 ℹ️🤓

#1108 Add ClickablePathLabel for Opening Mod Folder from Mod Info Panel
  app/views/mod_info_panel.py
  tests/views/test_mod_info_panel.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1104 feat: prompt restart on language change in settings
  app/controllers/language_controller.py
  app/utils/generic.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1119 Comment out edge removal in cycle breaker to disable breaking cycles
  app/sort/cycle_breaker.py
Labels: Sorting

#1124 Refactor dependency graph generation with conflict resolution and remove cycle breaker
  app/sort/alphabetical_sort.py
  app/sort/cycle_breaker.py
  app/sort/dependencies.py
  app/sort/topo_sort.py
Labels: Code refactoring 🧹

#1125 Switch to uv for package management
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/pytest.yml
  .jscpd.json
  app/sort/topo_sort.py
  distribute.py
  docs/development-guide/development-setup.md
  pyproject.toml
  requirements.txt
  requirements_build.txt
  requirements_develop.txt
  uv.lock
Labels: documentation 📚, DevOps 💻, dependencies

#1133 ci: Add merge_group to relevant workflow files
  .github/workflows/auto_build.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/pages.yml
  .github/workflows/pytest.yml
Labels: DevOps 💻

#1126 Improve asset matching logic for update downloads
  app/views/main_content_panel.py
Labels: bugs 🪲, Code style ✨, accessibility 👀 ℹ️🤓

#1138 Update FAQ links to use full GitHub Pages URLs
  docs/faq.md
  docs/faq.zh-cn.md
Labels: documentation 📚

#1147 Introduce Tier Zero Mod Classification System
  app/controllers/sort_controller.py
  app/sort/dependencies.py
  app/sort/topo_sort.py
  app/utils/constants.py
Labels: feature/improvement 🆕, dependencies, Sorting

#1162 Fix rendering unity rich text
  app/views/description_widget.py
Labels: bugs 🪲, review please 👀

#1168 [789] forcibly add steamworks.dylib into mac build
  distribute.py
Labels: DevOps 💻

#1169 [1167] Import mod list from save
  app/controllers/menu_bar_controller.py
  app/utils/event_bus.py
  app/views/main_content_panel.py
  app/views/menu_bar.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1178 Add LICENSE content as Windows MSI EULA
  .github/workflows/build.yml
Labels: DevOps 💻

#740 Add mod coloring
  .github/workflows/build.yml
  app/controllers/menu_bar_controller.py
  app/controllers/metadata_db_controller.py
  app/controllers/mods_panel_controller.py
  app/controllers/settings_controller.py
  app/models/metadata/metadata_db.py
  app/models/settings.py
  app/utils/app_info.py
  app/utils/aux_db_utils.py
  app/utils/custom_list_widget_item_metadata.py
  app/utils/event_bus.py
  app/views/deletion_menu.py
  app/views/main_content_panel.py
  app/views/main_window.py
  app/views/menu_bar.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
  app/windows/use_this_instead_panel.py
  tests/controllers/test_metadata_controller.py
  tests/controllers/test_metadata_db_controller.py
Labels: feature/improvement 🆕, review please 👀, Code refactoring 🧹, accessibility 👀 ℹ️🤓, DevOps 💻

#1182 Fix SQLite failing to open Aux database when it doesn't exist
  app/controllers/metadata_db_controller.py
Labels: bugs 🪲

#1184 Move Aux DB settings to their own tab
  app/views/settings_dialog.py
Labels: feature/improvement 🆕, review please 👀, Code refactoring 🧹, accessibility 👀 ℹ️🤓

#1174 Compare modlists with the recent save
  app/controllers/mods_panel_controller.py
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/custom_list_widget_item_metadata.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
  themes/default-icons/new.png
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1185 Speed up folder size calculation. Also cache at init/refresh
  app/views/main_content_panel.py
  app/views/mods_panel.py
Labels: feature/improvement 🆕, review please 👀

#1189 Fix folder size calculation
  app/views/mods_panel.py
Labels: bugs 🪲, review please 👀

#777 Add user mod notes
  app/utils/aux_db_utils.py
  app/utils/custom_list_widget_item_metadata.py
  app/views/main_content_panel.py
  app/views/mod_info_panel.py
  app/views/mods_panel.py
  themes/Modern/style.qss
  themes/Nature/style.qss
  themes/RimPy/style.qss
  themes/SunSet/style.qss
  themes/Wood/style.qss
Labels: feature/improvement 🆕, review please 👀, accessibility 👀 ℹ️🤓

#1188 Add option for clear to move DLC as well
  app/controllers/settings_controller.py
  app/models/settings.py
  app/views/main_content_panel.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1210 Add toggle for versioned About.xml tags to take precedence
  app/controllers/main_window_controller.py
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/metadata.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕

#1211 Update D drive check to ensure accessibility for installation
  data/RimSort.wxs
Labels: bugs 🪲

#1219 Adds toggle for advanced filtering to improve mod panel performance
  app/controllers/settings_controller.py
  app/models/settings.py
  app/views/mod_info_panel.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
  tests/views/test_main_content_run.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1230 Handling for custom Python temp path
  update.bat
Labels: bugs 🪲, Windows 🪟, accessibility 👀 ℹ️🤓

#1249 Add Player Log tab with advanced log viewing features
  app/models/settings.py
  app/views/main_window.py
  app/views/player_log_tab.py
Labels: feature/improvement 🆕

#1270 Fix mod color handling and add safety checks
  app/views/mods_panel.py
Labels: Code style ✨

#1161 Add persistent browser storage
  app/utils/app_info.py
  app/utils/steam/steambrowser/browser.py
Labels: feature/improvement 🆕, work in progress

#1271 Revise translation
  app/views/menu_bar.py
  app/views/mod_info_panel.py
  app/views/player_log_tab.py
  locales/de_DE.ts
  locales/en_US.ts
  locales/es_ES.qm
  locales/es_ES.ts
  locales/fr_FR.qm
  locales/fr_FR.ts
  locales/ja_JP.qm
  locales/ja_JP.ts
  locales/pt_BR.qm
  locales/pt_BR.ts
  locales/ru_RU.qm
  locales/ru_RU.ts
  locales/tr_TR.qm
  locales/tr_TR.ts
  locales/zh_CN.qm
  locales/zh_CN.ts
Labels: translations

#1269 Default Text Editor // Open Mod Folder in Text Editor Action
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/generic.py
  app/views/mods_panel.py
  app/views/player_log_tab.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓
