Repository RimSort/RimSort, pull requests merged in 2025-07, with the labels that each got.

#968 Add delete mod and resubscribe action to deletion menu
  app/views/deletion_menu.py
Labels: feature/improvement 🆕, Code refactoring 🧹

#981 Skips qtbase translation files when listing languages
  app/controllers/language_controller.py
Labels: bugs 🪲

#982 Added fallbacks for check_internet_connection function
  app/utils/generic.py
Labels: bugs 🪲, Code refactoring 🧹

#987 Add Ability to Update RimSort
  app/views/main_content_panel.py
  requirements.txt
  rimsort.nuitka-package.config.yml
  update.bat
  update.sh
Labels: feature/improvement 🆕, Code refactoring 🧹, DevOps 💻, dependencies

#994 Adds support for RimWorld Odyssey DLC
  app/utils/constants.py
  app/views/main_content_panel.py
Labels: feature/improvement 🆕

#1003 Quote current directory during update on Windows
  update.bat
Labels: bugs 🪲

#1005 feat: Enhanced Git Update UI with Commit Info and Thread Safety Improvements
  app/controllers/main_content_controller.py
  app/utils/git_utils.py
  app/utils/git_worker.py
Labels: feature/improvement 🆕

#1016 Fixes Translations and Refactors QMessageBox usage for clarity
  app/controllers/main_content_controller.py
  app/utils/steam/steamcmd/wrapper.py
  app/views/deletion_menu.py
  app/views/main_content_panel.py
  app/views/main_window.py
  app/views/mods_panel.py
  app/windows/runner_panel.py
Labels: bugs 🪲, Code refactoring 🧹

#1012 Add "Installed" markers to mod tiles on workshop pages
  app/utils/steam/browser.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1018 Fixes SyntaxError: f-string expression part cannot include a backslash
  app/controllers/file_search_controller.py
  app/utils/steam/browser.py
Labels: bugs 🪲

#1020 feat(browser): Stop placeholder flashing; Edit the progress bar
  app/utils/steam/browser.py
  app/windows/runner_panel.py
  themes/Modern/style.qss
  themes/Nature/style.qss
  themes/RimPy/style.qss
  themes/SunSet/style.qss
  themes/Wood/style.qss
Labels: Code style ✨, accessibility 👀 ℹ️🤓

#1022 fix(browser): "Add to list" button getting stuck
  app/utils/steam/browser.py
Labels: Code style ✨

#1024 Improves RimSort update process reliability on Windows
  update.bat
Labels: Windows 🪟, Code refactoring 🧹

#1033 Fix Update.bat
  update.bat
Labels: bugs 🪲, feature/improvement 🆕

#1038 Adds game version validation for replacements
  app/utils/metadata.py
Labels: bugs 🪲, feature/improvement 🆕

#1031 feat(browser): Quick add/remove buttons on tiles
  app/utils/steam/browser.py
  app/utils/steam/js_bridge.py
  app/utils/steam/setup_web_channel_script.js
Labels: feature/improvement 🆕, Code refactoring 🧹, accessibility 👀 ℹ️🤓

#1040 Improves Log Reader UI and Reduces Log Clutter
  app/views/log_reader.py
Labels: bugs 🪲, Code refactoring 🧹, accessibility 👀 ℹ️🤓

#1041 Refactors Steam browser implementation
  app/utils/steam/steambrowser/__init__.py
  app/utils/steam/steambrowser/browser.py
  app/utils/steam/steambrowser/js_bridge.py
  app/utils/steam/steambrowser/setup_web_channel_script.js
  app/utils/steam/steamworks/wrapper.py
  app/views/main_content_panel.py
Labels: Code refactoring 🧹

#1042 Highlights active mods and a context menu to open URL in the log reader
  app/views/log_reader.py
  app/views/main_window.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1044 Improves robustness in mod name/package ID handling
  app/sort/alphabetical_sort.py
  app/sort/topo_sort.py
  app/utils/metadata.py
  app/views/mod_info_panel.py
  app/views/mods_panel.py
Labels: bugs 🪲

#1045 Updates ACF Log Reader with Downloaded Timestamp
  app/views/acf_log_reader.py
  app/views/main_window.py
Labels: feature/improvement 🆕, Code refactoring 🧹, accessibility 👀 ℹ️🤓

#1049 Include setup_web_channel_script.js in package
  rimsort.nuitka-package.config.yml
Labels: bugs 🪲, DevOps 💻

#1050 Centralize pygit2 imports and SSL handling
  app/controllers/main_content_controller.py
  app/utils/git_utils.py
Labels: Code refactoring 🧹

#1053 fix: improve mod list export error handling
  app/controllers/troubleshooting_controller.py
  app/utils/gui_info.py
Labels: accessibility 👀 ℹ️🤓

#1007 Refactor TroubleshootingDialog UI for Enhanced Design and Usability
  app/views/troubleshooting_dialog.py
  themes/Modern/style.qss
  themes/Nature/style.qss
  themes/RimPy/style.qss
  themes/SunSet/style.qss
  themes/Wood/style.qss
Labels: Code refactoring 🧹, accessibility 👀 ℹ️🤓

#1056 Add scrollable content to TroubleshootingDialog
  app/views/troubleshooting_dialog.py
Labels: bugs 🪲

#1072 Add optional 'Delete Before Update' checkbox to SteamCMD settings
  app/controllers/settings_controller.py
  app/models/settings.py
  app/views/settings_dialog.py
  app/windows/base_mods_panel.py
  app/windows/rule_editor_panel.py
Labels: feature/improvement 🆕

#1069 Add the ability to resize parts of the interface
  app/views/main_content_panel.py
  themes/Modern/style.qss
  themes/Nature/style.qss
  themes/RimPy/style.qss
  themes/SunSet/style.qss
  themes/Wood/style.qss
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#1089 Add support for "loadTop" mod loading rule in rule_editor, metadata and sorting
  app/sort/dependencies.py
  app/utils/constants.py
  app/utils/metadata.py
  app/windows/rule_editor_panel.py
Labels: feature/improvement 🆕

#1092 Centralize Known Tier One Mods Set
  app/sort/dependencies.py
  app/utils/constants.py
Labels: Code refactoring 🧹

#1097 Refactor steam client integration checkbox state in settings controller
  app/controllers/settings_controller.py
Labels: Code refactoring 🧹

#1109 Fix relative links in FAQ documentation
  docs/faq.md
  docs/faq.zh-cn.md
Labels: bugs 🪲, documentation 📚

#1112 Add cycle breaking logic and fix circular dependency in mod sorting
  app/sort/alphabetical_sort.py
  app/sort/cycle_breaker.py
  app/sort/topo_sort.py
Labels: Sorting
