Repository RimSort/RimSort, pull requests merged in 2025-05, with the labels that each got.

#837 Add search tab
  app/controllers/file_search_controller.py
  app/controllers/menu_bar_controller.py
  app/models/search_result.py
  app/utils/file_search.py
  app/utils/files.py
  app/utils/ignore_extensions.py
  app/utils/mod_utils.py
  app/views/file_search_dialog.py
  app/views/main_window.py
  app/views/menu_bar.py
  requirements.txt
  tests/benchmarks/find_search_terms.py
  tests/controllers/test_file_search.py
  tests/data/mod_examples/Local/local_mod_1/Assemblies/dummy.dll
  tests/data/mod_examples/Local/local_mod_2/Assemblies/dummy.dll
  tests/utils.py
  tests/utils/test_mod_utils.py
Labels: feature/improvement 🆕, Windows 🪟, Code refactoring 🧹, accessibility 👀 ℹ️🤓, dependencies

#847 log_reader: Refactor
  app/utils/mod_utils.py
  app/views/log_reader.py
Labels: Code refactoring 🧹, accessibility 👀 ℹ️🤓

#855 Workflow: Use factory branch to fix builds on macos
  .github/workflows/build.yml
Labels: DevOps 💻

#854 fix crash when KeyError: 'tag_name' is None
  app/views/main_content_panel.py
Labels: bugs 🪲

#856 Nuitka: Fix issues related to forflow and update Nuitka to version 2.7.2
  .github/workflows/build.yml
  requirements_build.txt
Labels: DevOps 💻, dependencies

#859 Add support for custom font settings
  app/controllers/app_controller.py
  app/controllers/settings_controller.py
  app/controllers/theme_controller.py
  app/models/settings.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#858 refactor project strings for localization support
  app/controllers/app_controller.py
  app/controllers/file_search_controller.py
  app/controllers/instance_controller.py
  app/controllers/language_controller.py
  app/controllers/menu_bar_controller.py
  app/controllers/settings_controller.py
  app/controllers/theme_controller.py
  app/controllers/troubleshooting_controller.py
  app/models/settings.py
  app/sort/topo_sort.py
  app/utils/app_info.py
  app/utils/generic.py
  app/utils/metadata.py
  app/utils/rentry/wrapper.py
  app/utils/schema.py
  app/utils/steam/browser.py
  app/utils/steam/steamcmd/wrapper.py
  app/utils/steam/webapi/wrapper.py
  app/views/deletion_menu.py
  app/views/dialogue.py
  app/views/file_search_dialog.py
  app/views/log_reader.py
  app/views/main_content_panel.py
  app/views/main_window.py
  app/views/menu_bar.py
  app/views/mod_info_panel.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
  app/views/troubleshooting_dialog.py
  app/windows/base_mods_panel.py
  app/windows/missing_dependencies_dialog.py
  app/windows/missing_mods_panel.py
  app/windows/rule_editor_panel.py
  app/windows/runner_panel.py
  app/windows/use_this_instead_panel.py
  app/windows/workshop_mod_updater_panel.py
  locales/de_DE.qm
  locales/de_DE.ts
  locales/en_US.qm
  locales/en_US.ts
  locales/es_ES.qm
  locales/es_ES.ts
  locales/fr_FR.qm
  locales/fr_FR.ts
  locales/ja_JP.qm
  locales/ja_JP.ts
  locales/zh_CN.qm
  locales/zh_CN.ts
  rimsort.nuitka-package.config.yml
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓, DevOps 💻

#871 Downgrade Nuitka to 2.6.9 to fix Mac and Linux builds
  .github/workflows/build.yml
  requirements_build.txt
Labels: bugs 🪲, DevOps 💻, dependencies

#870 Add support for ZIP mod import
  app/controllers/menu_bar_controller.py
  app/utils/event_bus.py
  app/views/main_content_panel.py
  app/views/menu_bar.py
Labels: feature/improvement 🆕, accessibility 👀 ℹ️🤓

#876 Add window size and position configuration
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/gui_info.py
  app/utils/steam/browser.py
  app/views/file_search_dialog.py
  app/views/main_window.py
  app/views/settings_dialog.py
  app/windows/base_mods_panel.py
  app/windows/missing_dependencies_dialog.py
  app/windows/rule_editor_panel.py
  app/windows/runner_panel.py
  app/windows/use_this_instead_panel.py
Labels: feature/improvement 🆕, Code refactoring 🧹, accessibility 👀 ℹ️🤓

#878 Fix variable name for pushing branch to remote repository
  app/views/main_content_panel.py
Labels: bugs 🪲

#880 Fix: Revert unintended text changes
  app/views/mods_panel.py
Labels: bugs 🪲

#883 Update dependabot.yml: to check for "gitsubmodules" daily
  .github/dependabot.yml
Labels: DevOps 💻

#886 use_this_instead: Download mods using "SteamCMD"
  app/windows/use_this_instead_panel.py
Labels: feature/improvement 🆕

#887 Refactor use_this_instead
  app/windows/use_this_instead_panel.py
Labels: Code refactoring 🧹

#890 Fix Lint errors related to mypy type checking errors
  app/controllers/settings_controller.py
  app/controllers/sort_controller.py
  app/models/settings.py
  app/views/mods_panel.py
  app/windows/rule_editor_panel.py
Labels: Code style ✨

#889 Added fallback HTML scraping for collection mods in SteamBrowser
  app/utils/steam/browser.py
Labels: bugs 🪲, feature/improvement 🆕

#893 Add Translation Contribution Guidelines
  README.md
  docs/development-guide/translation-guide.md
  docs/development-guide/translation-guide.zh-cn.md
  translation_helper.py
Labels: documentation 📚
