Repository RimSort/RimSort, pull requests merged in 2025-04, with the labels that each got.

#801 Fix re_steamcmd_action
  app/views/main_content_panel.py
  app/views/mods_panel.py
Labels: bugs 🪲

#724 Implement troubleshooting panel and File Search
  app/controllers/file_search_controller.py
  app/controllers/menu_bar_controller.py
  app/controllers/troubleshooting_controller.py
  app/models/search_result.py
  app/utils/event_bus.py
  app/utils/file_search.py
  app/utils/gui_info.py
  app/views/file_search_dialog.py
  app/views/main_content_panel.py
  app/views/menu_bar.py
  app/views/troubleshooting_dialog.py
  requirements.txt
  tests/benchmarks/find_search_terms.py
  tests/controllers/test_file_search.py
  tests/controllers/test_troubleshooting.py
  tests/utils.py
  tests/views/test_dialogue.py
Labels: dependencies

#820 runner_panel: fix SteamCMD failing to track downloaded mods
  app/windows/runner_panel.py
Labels: bugs 🪲

#824 fix Repo and GitCommandError being unbound
  app/views/main_content_panel.py
Labels: Code refactoring 🧹

#821 log reader
  app/utils/app_info.py
  app/utils/constants.py
  app/utils/custom_qlabels.py
  app/utils/generic.py
  app/utils/rentry/wrapper.py
  app/views/log_reader.py
  app/views/main_window.py
Labels: feature/improvement 🆕

#832 Troubleshooting tab
  app/controllers/menu_bar_controller.py
  app/controllers/troubleshooting_controller.py
  app/views/main_window.py
  app/views/menu_bar.py
  app/views/troubleshooting_dialog.py
  tests/conftest.py
  tests/controllers/test_troubleshooting.py
Labels: Code refactoring 🧹, accessibility 👀 ℹ️🤓

#831 Fix KeyError in UseThisInsteadPanel when 'authors' or 'name' keys are None
  app/windows/use_this_instead_panel.py
Labels: bugs 🪲

#835 downgrade pyside6 to fix Windows !0 related issues
  requirements.txt
Labels: dependencies

#839 Acf log reader
  app/views/log_reader.py
  app/views/main_window.py
Labels: feature/improvement 🆕, Code refactoring 🧹, accessibility 👀 ℹ️🤓
