Repository RimSort/RimSort, pull requests merged in 2025-09, with the labels that each got.

#1275 Close RunnerPanel after initiating redownload
  app/windows/runner_panel.py
Labels: accessibility 👀 ℹ️🤓

#1283 Refactor settings for clarity and organization
  app/controllers/main_window_controller.py
  app/controllers/settings_controller.py
  app/models/settings.py
  app/sort/dependencies.py
  app/utils/metadata.py
  app/views/mods_panel.py
  app/views/settings_dialog.py
Labels: Code refactoring 🧹, accessibility 👀 ℹ️🤓

#1292 Add 'use_this_instead' flag for alternative mods
  app/views/mods_panel.py
Labels: bugs 🪲

#1300 Add jikulopo.prepatcher to Harmony mod replacements
  app/utils/constants.py
Labels: accessibility 👀 ℹ️🤓, Sorting

#1305 Fix SQLite IntegrityError in get_or_create
  app/controllers/metadata_db_controller.py
Labels: bugs 🪲

#1308 Improve do_topo_sort consistency and robustness
  app/sort/topo_sort.py
Labels: bugs 🪲, feature/improvement 🆕, Code refactoring 🧹, Sorting

#1322 Refactor Language Data Access and Improve Qt WebEngine Locale Inclusion
  app/__main__.py
  app/controllers/app_controller.py
  app/controllers/language_controller.py
  app/utils/app_info.py
  distribute.py
Labels: Code refactoring 🧹, Code style ✨

#1329 fix path name
  distribute.py
Labels: DevOps 💻

#1334 Refactor ModDeletionMenu class with enhanced error handling, logging, and comprehensive tests
  app/views/deletion_menu.py
  tests/views/test_deletion_menu.py
Labels: bugs 🪲, Code refactoring 🧹

#1346 update translations
  locales/de_DE.qm
  locales/de_DE.ts
  locales/es_ES.qm
  locales/es_ES.ts
  locales/fr_FR.qm
  locales/fr_FR.ts
  locales/ja_JP.qm
  locales/ja_JP.ts
  locales/pt_BR.qm
  locales/pt_BR.ts
  locales/ru_RU.qm
  locales/ru_RU.ts
  locales/tr_TR.qm
  locales/tr_TR.ts
  locales/zh_CN.qm
  locales/zh_CN.ts
Labels: bugs 🪲, translations

#786 Make windows path autodetect more robust
  app/controllers/settings_controller.py
  app/utils/generic.py
Labels: feature/improvement 🆕, review please 👀, Windows 🪟, accessibility 👀 ℹ️🤓, dependencies

#1355 Update translation guides to reflect translation_helper.py enhancements
  docs/development-guide/translation-guide.md
  docs/development-guide/translation-guide.zh-cn.md
Labels: documentation 📚

#1361 Add backup cleanup in update process and settings UI
  app/controllers/settings_controller.py
  app/models/settings.py
  app/utils/update_utils.py
  app/views/settings_dialog.py
Labels: feature/improvement 🆕, Code refactoring 🧹, accessibility 👀 ℹ️🤓
